@import "tailwindcss";

@theme {
  /* Fonts */
  --font-primary: Arial, sans-serif;
  --font-secondary: "Bolota", sans-serif;

  /* Colors */
  --color-bg: #F2F2F2;
  --color-main: #FF5D01;
  --color-hover: #FFEBE0;
}
