@import "tailwindcss";

:root {
  --primary-font: 'Arial', sans-serif;
  --secondary-font: 'Bolota', sans-serif;
  --bg-color: #F2F2F2;
  --main-color: #FF5D01;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-color);
}
.font-secondary {
  font-family: var(--secondary-font);
}
.main-color {
  color: var(--main-color);
}

